NEXT_PUBLIC_YOUTUBE_API_KEY=AIzaSyATkdO-Hw1LJWUduf8j773XR4GzZ3frk9k
NEXT_PUBLIC_FIREBASE_API_KEY=your_firebase_api_key_here

NEXT_PUBLIC_GEMINI_API_KEY=AIzaSyDR3u3bLa3MHrbD956HdKAsFvjFVHx7bTA

NEXT_PUBLIC_DB_CONNECTION_STRING=your_neon_db_connection_string_here

NEXT_PUBLIC_CLERK_PUBLISHABLE_KEY=pk_test_ZHJpdmVuLWJvYS01MC5jbGVyay5hY2NvdW50cy5kZXYk
CLERK_SECRET_KEY= sk_test_HzDS8UqaPunjXscT5QgKzqYx2T9xSWVJJNGGEtHNB1

NEXT_PUBLIC_HOST_NAME=http://localhost:3000

NEXT_PUBLIC_GOOGLE_GEMINI_API_KEY = AIzaSyDR3u3bLa3MHrbD956HdKAsFvjFVHx7bTA

